[Unit]
Description=Schedule Naiskos presentation at {{ naiskos_profile.schedule.visible_from }}

[Timer]
OnCalendar=*-*-* {{ naiskos_profile.schedule.visible_from }}:00
AccuracySec=15s
RandomizedDelaySec=0
Persistent=true
Unit=naiskos-display-wake.service

[Install]
WantedBy=timers.target
